{% extends "base.html" %}
{% block content %}
<h1>Add Item</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.item_type.label }} {{ form.item_type(class="form-control") }}
            {% if form.item_type.errors %}
                <div class="text-danger">{{ form.item_type.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.weight.label }} {{ form.weight(class="form-control") }}
            {% if form.weight.errors %}
                <div class="text-danger">{{ form.weight.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.value.label }} {{ form.value(class="form-control") }}
            {% if form.value.errors %}
                <div class="text-danger">{{ form.value.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.enchantment.label }} {{ form.enchantment(class="form-control") }}
            {% if form.enchantment.errors %}
                <div class="text-danger">{{ form.enchantment.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.owner.label }} {{ form.owner(class="form-control") }}
            {% if form.owner.errors %}
                <div class="text-danger">{{ form.owner.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.locations.label }} {{ form.locations(class="form-control") }}
            {% if form.locations.errors %}
                <div class="text-danger">{{ form.locations.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary add-button">Add Item</button>
</form>
{% endblock %}
