{% extends "base.html" %}
{% block content %}
<h1>Edit Item</h1>

<form action="{{ url_for('items.edit_item', id=item.id) }}" method="POST" class="item-form edit-form">
    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ item.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" required>{{ item.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" name="type" value="{{ item.type }}" required>
        </div>
    </fieldset>

    <fieldset>
        <legend>Attributes</legend>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="text" name="weight" value="{{ item.weight }}">
        </div>
        <div class="form-group">
            <label for="value">Value:</label>
            <input type="text" name="value" value="{{ item.value }}">
        </div>
        <div class="form-group">
            <label for="enchantment">Enchantment:</label>
            <input type="text" name="enchantment" value="{{ item.enchantment }}">
        </div>
    </fieldset>

    <fieldset>
        <legend>Ownership</legend>
        <div class="form-group">
            <label for="owner_id">Owner:</label>
            <input type="text" name="owner_id" value="{{ item.owner_id }}">
        </div>
    </fieldset>

    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
