{% extends "base.html" %}
{% block content %}
<h1>Edit Chapter</h1>

<form action="{{ url_for('chapters.edit_chapter', id=chapter.id) }}" method="POST" class="edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label }} {{ form.content(class="form-control") }}
            {% if form.content.errors %}
                <div class="text-danger">{{ form.content.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.plot.label }} {{ form.plot(class="form-control") }}
            {% if form.plot.errors %}
                <div class="text-danger">{{ form.plot.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world.label }} {{ form.world(class="form-control") }}
            {% if form.world.errors %}
                <div class="text-danger">{{ form.world.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.locations.label }} {{ form.locations(class="form-control select-multiple") }}
            {% if form.locations.errors %}
                <div class="text-danger">{{ form.locations.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.creatures.label }} {{ form.creatures(class="form-control select-multiple") }}
            {% if form.creatures.errors %}
                <div class="text-danger">{{ form.creatures.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control select-multiple") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.magic_systems.label }} {{ form.magic_systems(class="form-control select-multiple") }}
            {% if form.magic_systems.errors %}
                <div class="text-danger">{{ form.magic_systems.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.factions.label }} {{ form.factions(class="form-control select-multiple") }}
            {% if form.factions.errors %}
                <div class="text-danger">{{ form.factions.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>

{% endblock %}
