{% extends "base.html" %}
{% block content %}
<h1>Add Location</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world.label }} {{ form.world(class="form-control") }}
            {% if form.world.errors %}
                <div class="text-danger">{{ form.world.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.climate.label }} {{ form.climate(class="form-control") }}
            {% if form.climate.errors %}
                <div class="text-danger">{{ form.climate.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.terrain.label }} {{ form.terrain(class="form-control") }}
            {% if form.terrain.errors %}
                <div class="text-danger">{{ form.terrain.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.residents.label }} {{ form.residents(class="form-control") }}
            {% if form.residents.errors %}
                <div class="text-danger">{{ form.residents.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.factions.label }} {{ form.factions(class="form-control") }}
            {% if form.factions.errors %}
                <div class="text-danger">{{ form.factions.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.plots.label }} {{ form.plots(class="form-control") }}
            {% if form.plots.errors %}
                <div class="text-danger">{{ form.plots.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary add-button">Add Location</button>
</form>
{% endblock %}
