{% extends "base.html" %}
{% block content %}
<h1>Edit Location</h1>

<form action="{{ url_for('locations.edit_location', id=location.id) }}" method="POST" class="location-form edit-form">
    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ location.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" required>{{ location.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="world_id">World:</label>
            <input type="text" name="world_id" value="{{ location.world_id }}" required>
        </div>
    </fieldset>

    <fieldset>
        <legend>Geographic Characteristics</legend>
        <div class="form-group">
            <label for="climate">Climate:</label>
            <input type="text" name="climate" value="{{ location.climate }}" required>
        </div>
        <div class="form-group">
            <label for="terrain">Terrain:</label>
            <input type="text" name="terrain" value="{{ location.terrain }}" required>
        </div>
    </fieldset>

    <button type="submit" class="edit-button">Update</button>
</form>

{% endblock %}
