{% extends "base.html" %}
{% block content %}
<h1>Add Plot</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.summary.label }} {{ form.summary(class="form-control") }}
            {% if form.summary.errors %}
                <div class="text-danger">{{ form.summary.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world.label }} {{ form.world(class="form-control") }}
            {% if form.world.errors %}
                <div class="text-danger">{{ form.world.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.status.label }} {{ form.status(class="form-control") }}
            {% if form.status.errors %}
                <div class="text-danger">{{ form.status.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.genre.label }} {{ form.genre(class="form-control") }}
            {% if form.genre.errors %}
                <div class="text-danger">{{ form.genre.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
            {% if form.rating.errors %}
                <div class="text-danger">{{ form.rating.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.word_count.label }} {{ form.word_count(class="form-control") }}
            {% if form.word_count.errors %}
                <div class="text-danger">{{ form.word_count.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.reading_time.label }} {{ form.reading_time(class="form-control") }}
            {% if form.reading_time.errors %}
                <div class="text-danger">{{ form.reading_time.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.published_date.label }} {{ form.published_date(class="form-control", type="date") }}
            {% if form.published_date.errors %}
                <div class="text-danger">{{ form.published_date.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.locations.label }} {{ form.locations(class="form-control") }}
            {% if form.locations.errors %}
                <div class="text-danger">{{ form.locations.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.characters.label }} {{ form.characters(class="form-control") }}
            {% if form.characters.errors %}
                <div class="text-danger">{{ form.characters.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary add-button">Add Plot</button>
</form>
{% endblock %}
