{% extends "base.html" %}
{% block content %}
<h1>Edit Plot</h1>
<form action="{{ url_for('plots.edit_plot', id=plot.id) }}" method="POST" class="plot-form edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
            {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.summary.label }} {{ form.summary(class="form-control") }}
            {% if form.summary.errors %}
                <div class="text-danger">{{ form.summary.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="form-group">
            {{ form.world_id.label }} {{ form.world_id(class="form-control") }}
            {% if form.world_id.errors %}
                <div class="text-danger">{{ form.world_id.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.status.label }} {{ form.status(class="form-control") }}
            {% if form.status.errors %}
                <div class="text-danger">{{ form.status.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.genre.label }} {{ form.genre(class="form-control") }}
            {% if form.genre.errors %}
                <div class="text-danger">{{ form.genre.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Metrics</legend>
        <div class="form-group">
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
            {% if form.rating.errors %}
                <div class="text-danger">{{ form.rating.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.word_count.label }} {{ form.word_count(class="form-control") }}
            {% if form.word_count.errors %}
                <div class="text-danger">{{ form.word_count.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.reading_time.label }} {{ form.reading_time(class="form-control") }}
            {% if form.reading_time.errors %}
                <div class="text-danger">{{ form.reading_time.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Publication</legend>
        <div class="form-group">
            {{ form.published_date.label }} {{ form.published_date(class="form-control") }}
            {% if form.published_date.errors %}
                <div class="text-danger">{{ form.published_date.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
