{% extends "base.html" %}
{% block content %}
<h1>Plots</h1>

<ul class="model-list">
    {% for plot in plots %}
        <li class="model-item-container">
            <div class="model-item">
                <a href="{{ url_for('plots.edit_plot', id=plot.id) }}">{{ plot.title }}</a>
            </div>
            <form action="{{ url_for('plots.delete_plot', id=plot.id) }}" method="POST" class="delete-form">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}
