{% extends "base.html" %}
{% block content %}
<h1>Add System</h1>

<form action="{{ url_for('systems.add_system') }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <label for="description">Description:</label>
    <textarea name="description" required></textarea>
    <label for="rules">Rules:</label>
    <textarea name="rules"></textarea>
    <label for="basis">Basis:</label>
    <textarea name="basis"></textarea>
    <label for="world_id">World:</label>
    <input type="text" name="world_id" required>
    <input type="submit" value="Add System">
</form>

{% endblock %}
