{% extends "base.html" %}
{% block content %}
<h1>Edit System</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Details</legend>
        <div class="form-group">
            {{ form.rules.label }} {{ form.rules(class="form-control") }}
            {% if form.rules.errors %}
                <div class="text-danger">{{ form.rules.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.basis.label }} {{ form.basis(class="form-control") }}
            {% if form.basis.errors %}
                <div class="text-danger">{{ form.basis.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend>Worlds</legend>
        <div class="form-group">
            {{ form.worlds.label }} {{ form.worlds(class="form-control") }}
            {% if form.worlds.errors %}
                <div class="text-danger">{{ form.worlds.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary edit-button">Update System</button>
</form>
{% endblock %}
