{% extends "base.html" %}
{% block content %}
<h1>Add Relationship</h1>
<form action="{{ url_for('relationships.add_relationship') }}" method="post" class="relationship-form add-form">
    {{ form.hidden_tag() }}
    <fieldset class="characters-involved">
        <legend>Characters Involved</legend>
        <div class="form-group">
            {{ form.character1_id.label }} {{ form.character1_id(class="form-control") }}
            {% if form.character1_id.errors %}
                <div class="text-danger">{{ form.character1_id.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.character2_id.label }} {{ form.character2_id(class="form-control") }}
            {% if form.character2_id.errors %}
                <div class="text-danger">{{ form.character2_id.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="details">
        <legend>Relationship Details</legend>
        <div class="form-group">
            {{ form.relationship_type.label }} {{ form.relationship_type(class="form-control") }}
            {% if form.relationship_type.errors %}
                <div class="text-danger">{{ form.relationship_type.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="characteristics">
        <legend>Characteristics</legend>
        <div class="form-group">
            {{ form.level.label }} {{ form.level(class="form-control") }}
            {% if form.level.errors %}
                <div class="text-danger">{{ form.level.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.is_romantic.label }} {{ form.is_romantic(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_supportive.label }} {{ form.is_supportive(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_rival.label }} {{ form.is_rival(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_ally.label }} {{ form.is_ally(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_conflict.label }} {{ form.is_conflict(class="form-check-input") }}
        </div>
    </fieldset>
    <button type="submit" class="add-button">Add</button>
</form>
{% endblock %}
