{% extends "base.html" %}
{% block content %}
<h1>Edit Creature</h1>
<form action="{{ url_for('creatures.edit_creature', id=creature.id) }}" method="POST" class="creature-form edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world_id.label }} {{ form.world_id(class="form-control") }}
            {% if form.world_id.errors %}
                <div class="text-danger">{{ form.world_id.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Physical Characteristics</legend>
        <div class="form-group">
            {{ form.species.label }} {{ form.species(class="form-control") }}
            {% if form.species.errors %}
                <div class="text-danger">{{ form.species.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.size.label }} {{ form.size(class="form-control") }}
            {% if form.size.errors %}
                <div class="text-danger">{{ form.size.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.age.label }} {{ form.age(class="form-control") }}
            {% if form.age.errors %}
                <div class="text-danger">{{ form.age.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Role and Abilities</legend>
        <div class="form-group">
            {{ form.role.label }} {{ form.role(class="form-control") }}
            {% if form.role.errors %}
                <div class="text-danger">{{ form.role.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.align.label }} {{ form.align(class="form-control") }}
            {% if form.align.errors %}
                <div class="text-danger">{{ form.align.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.abilities.label }} {{ form.abilities(class="form-control") }}
            {% if form.abilities.errors %}
                <div class="text-danger">{{ form.abilities.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.weapons.label }} {{ form.weapons(class="form-control") }}
            {% if form.weapons.errors %}
                <div class="text-danger">{{ form.weapons.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.armor.label }} {{ form.armor(class="form-control") }}
            {% if form.armor.errors %}
                <div class="text-danger">{{ form.armor.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control select-multiple") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.factions.label }} {{ form.factions(class="form-control select-multiple") }}
            {% if form.factions.errors %}
                <div class="text-danger">{{ form.factions.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.locations.label }} {{ form.locations(class="form-control select-multiple") }}
            {% if form.locations.errors %}
                <div class="text-danger">{{ form.locations.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
