{% extends "base.html" %}
{% block content %}
<h1>Edit Creature</h1>

<form action="{{ url_for('creatures.edit_creature', id=creature.id) }}" method="POST">
    <fieldset>
        <legend>General Information</legend>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ creature.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" required>{{ creature.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="world_id">World ID:</label>
            <input type="text" name="world_id" value="{{ creature.world_id }}" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Physical Characteristics</legend>
        <div class="form-group">
            <label for="species">Species:</label>
            <input type="text" name="species" value="{{ creature.species }}" required>
        </div>
        <div class="form-group">
            <label for="size">Size:</label>
            <input type="text" name="size" value="{{ creature.size }}" required>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" name="age" value="{{ creature.age }}" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Role and Abilities</legend>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" name="role" value="{{ creature.role }}" required>
        </div>
        <div class="form-group">
            <label for="align">Alignment:</label>
            <input type="text" name="align" value="{{ creature.align }}" required>
        </div>
        <div class="form-group">
            <label for="abilities">Abilities:</label>
            <input type="text" name="abilities" value="{{ creature.abilities }}" required>
        </div>
        <div class="form-group">
            <label for="weapons">Weapons:</label>
            <input type="text" name="weapons" value="{{ creature.weapons }}" required>
        </div>
        <div class="form-group">
            <label for="armor">Armor:</label>
            <input type="text" name="armor" value="{{ creature.armor }}" required>
        </div>
    </fieldset>
    <input type="submit" value="Save Changes">
</form>
{% endblock %}
