{% extends "base.html" %}
{% block content %}
<h1>Add World</h1>
<form action="{{ url_for('worlds.add_world') }}" method="post" class="world-form add-form">
    {{ form.hidden_tag() }}
    <fieldset class="basic-information">
        <legend>Basic Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.history.label }} {{ form.history(class="form-control") }}
            {% if form.history.errors %}
                <div class="text-danger">{{ form.history.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="characteristics">
        <legend>Characteristics</legend>
        <div class="form-group">
            {{ form.time_period.label }} {{ form.time_period(class="form-control") }}
            {% if form.time_period.errors %}
                <div class="text-danger">{{ form.time_period.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.setting.label }} {{ form.setting(class="form-control") }}
            {% if form.setting.errors %}
                <div class="text-danger">{{ form.setting.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.temperature.label }} {{ form.temperature(class="form-control") }}
            {% if form.temperature.errors %}
                <div class="text-danger">{{ form.temperature.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.humidity.label }} {{ form.humidity(class="form-control") }}
            {% if form.humidity.errors %}
                <div class="text-danger">{{ form.humidity.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="flora-and-fauna">
        <legend>Flora and Fauna</legend>
        <div class="form-group">
            {{ form.flora.label }} {{ form.flora(class="form-control") }}
            {% if form.flora.errors %}
                <div class="text-danger">{{ form.flora.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.fauna.label }} {{ form.fauna(class="form-control") }}
            {% if form.fauna.errors %}
                <div class="text-danger">{{ form.fauna.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="magic">
        <legend>Magic</legend>
        <div class="form-group">
            {{ form.magical_system.label }} {{ form.magical_system(class="form-control") }}
            {% if form.magical_system.errors %}
                <div class="text-danger">{{ form.magical_system.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="add-button">Add</button>
</form>
{% endblock %}
