{% extends "base.html" %}
{% block content %}
<h1>Edit World</h1>

<form action="{{ url_for('worlds.edit_world', id=world.id) }}" method="POST" class="world-form edit-form">
    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ world.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" required>{{ world.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="history">History:</label>
            <textarea name="history">{{ world.history }}</textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Characteristics</legend>
        <div class="form-group">
            <label for="time_period">Time Period:</label>
            <textarea name="time_period">{{ world.time_period }}</textarea>
        </div>
        <div class="form-group">
            <label for="setting">Setting:</label>
            <textarea name="setting">{{ world.setting }}</textarea>
        </div>
        <div class="form-group">
            <label for="temperature">Temperature:</label>
            <textarea name="temperature">{{ world.temperature }}</textarea>
        </div>
        <div class="form-group">
            <label for="humidity">Humidity:</label>
            <textarea name="humidity">{{ world.humidity }}</textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Flora and Fauna</legend>
        <div class="form-group">
            <label for="flora">Flora:</label>
            <textarea name="flora">{{ world.flora }}</textarea>
        </div>
        <div class="form-group">
            <label for="fauna">Fauna:</label>
            <textarea name="fauna">{{ world.fauna }}</textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Magic</legend>
        <div class="form-group">
            <label for="magical_system">Magical System:</label>
            <textarea name="magical_system">{{ world.magical_system }}</textarea>
        </div>
    </fieldset>

    <button type="submit" class="edit-button">Update</button>
</form>

{% endblock %}
