{% extends "base.html" %}
{% block content %}
<h1>Edit Faction</h1>
<form action="{{ url_for('factions.edit_faction', id=faction.id) }}" method="POST" class="faction-form edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world.label }} {{ form.world(class="form-control") }}
            {% if form.world.errors %}
                <div class="text-danger">{{ form.world.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Alignment and Characteristics</legend>
        <div class="form-group">
            {{ form.is_neutral.label }} {{ form.is_neutral(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_good.label }} {{ form.is_good(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_evil.label }} {{ form.is_evil(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_chaotic.label }} {{ form.is_chaotic(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.is_lawful.label }} {{ form.is_lawful(class="form-check-input") }}
        </div>
        <div class="form-group">
            {{ form.alignment.label }} {{ form.alignment(class="form-control") }}
            {% if form.alignment.errors %}
                <div class="text-danger">{{ form.alignment.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.characters.label }} {{ form.characters(class="form-control select-multiple") }}
            {% if form.characters.errors %}
                <div class="text-danger">{{ form.characters.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.events.label }} {{ form.events(class="form-control select-multiple") }}
            {% if form.events.errors %}
                <div class="text-danger">{{ form.events.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
