{% extends "base.html" %}
{% block content %}
<h1>Factions</h1>
<ul class="model-list">
    {% for faction in factions %}
        <li class="model-item-container">
            <div class="model-item">
                <a href="{{ url_for('factions.edit_faction', id=faction.id) }}">{{ faction.name }}</a>
            </div>
            <form action="{{ url_for('factions.delete_faction', id=faction.id) }}" method="POST" class="delete-form">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
