{% extends "base.html" %}
{% block content %}
<h1>Edit Event</h1>
<form action="{{ url_for('events.edit_event', id=event.id) }}" method="POST" class="event-form edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Basic Details</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Timing and Location</legend>
        <div class="form-group">
            {{ form.date.label }} {{ form.date(class="form-control") }}
            {% if form.date.errors %}
                <div class="text-danger">{{ form.date.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.location.label }} {{ form.location(class="form-control") }}
            {% if form.location.errors %}
                <div class="text-danger">{{ form.location.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.faction.label }} {{ form.faction(class="form-control") }}
            {% if form.faction.errors %}
                <div class="text-danger">{{ form.faction.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.plot.label }} {{ form.plot(class="form-control") }}
            {% if form.plot.errors %}
                <div class="text-danger">{{ form.plot.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world.label }} {{ form.world(class="form-control") }}
            {% if form.world.errors %}
                <div class="text-danger">{{ form.world.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.characters.label }} {{ form.characters(class="form-control") }}
            {% if form.characters.errors %}
                <div class="text-danger">{{ form.characters.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.creatures.label }} {{ form.creatures(class="form-control") }}
            {% if form.creatures.errors %}
                <div class="text-danger">{{ form.creatures.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
