{% extends "base.html" %}
{% block content %}

<h1>Edit Event</h1>

<form action="{{ url_for('events.edit_event', id=event.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{ event.id }}">

    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ event.name }}" required>
    <label for="description">Description:</label>
    <textarea name="description" required>{{ event.description }}</textarea>
    <label for="date">Date:</label> 
    <input type="date" name="date" value="{{ event.date }}" required>
    <label for="location_id">Location:</label>
    <input type="text" name="location_id" value="{{ event.location_id }}" required>
    <label for="faction_id">Faction:</label>
    <input type="text" name="faction_id" value="{{ event.faction_id }}" required>
    <label for="plot_id">Plot:</label>
    <input type="text" name="plot_id" value="{{ event.plot_id }}" required>
    <label for="world_id">World:</label>
    <input type="text" name="world_id" value="{{ event.world_id }}" required>
    <input type="submit" value="Save Changes">
</form>
{% endblock %}
