{% extends "base.html" %}
{% block content %}
<h1>Edit Event</h1>
<form action="{{ url_for('events.edit_event', id=event.id) }}" method="POST" class="event-form edit-form">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Basic Details</legend>
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Timing and Location</legend>
        <div class="form-group">
            {{ form.date.label }} {{ form.date(class="form-control") }}
            {% if form.date.errors %}
                <div class="text-danger">{{ form.date.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.location_id.label }} {{ form.location_id(class="form-control") }}
            {% if form.location_id.errors %}
                <div class="text-danger">{{ form.location_id.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Associations</legend>
        <div class="form-group">
            {{ form.faction_id.label }} {{ form.faction_id(class="form-control") }}
            {% if form.faction_id.errors %}
                <div class="text-danger">{{ form.faction_id.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.plot_id.label }} {{ form.plot_id(class="form-control") }}
            {% if form.plot_id.errors %}
                <div class="text-danger">{{ form.plot_id.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.world_id.label }} {{ form.world_id(class="form-control") }}
            {% if form.world_id.errors %}
                <div class="text-danger">{{ form.world_id.errors[0] }}</div>
            {% endif %}
        </div>
    </fieldset>
    <button type="submit" class="edit-button">Update</button>
</form>
{% endblock %}
