{% extends "base.html" %}

{% block content %}
    <h1>View All Entries</h1>
    <p>Select the type of entry you would like to view:</p>
    <ul>
        <li><a href="{{ url_for('characters.list_characters') }}">View Characters</a></li>
        <li><a href="{{ url_for('chapters.list_chapters') }}">View Chapters</a></li>
        <li><a href="{{ url_for('creatures.list_creatures') }}">View Creatures</a></li>
        <li><a href="{{ url_for('events.list_events') }}">View Events</a></li>
        <li><a href="{{ url_for('factions.list_factions') }}">View Factions</a></li>
        <li><a href="{{ url_for('items.list_items') }}">View Items</a></li>
        <li><a href="{{ url_for('locations.list_locations') }}">View Locations</a></li>
        <li><a href="{{ url_for('plots.list_plots') }}">View Plots</a></li>
        <li><a href="{{ url_for('relationships.list_relationships') }}">View Relationships</a></li>
        <li><a href="{{ url_for('systems.list_systems') }}">View Systems</a></li>
        <li><a href="{{ url_for('worlds.list_worlds') }}">View Worlds</a></li>

    </ul>
{% endblock %}
